# Ignore compiled executables
*.exe

# Ignore VS Code settings
.vscode/

# Ignore build folders (optional)
build/
bin/
obj/
C:\Users\Admin\OneDrive\Desktop\C_programming\cmqcirm5f000004jo0jvw2ham.md
C:\Users\Admin\OneDrive\Desktop\C_programming\cmqkig9j4000304ktdqai5dw1.md
C:\Users\Admin\OneDrive\Desktop\C_programming\cmqp1k4wr00030bhz9q2z4fgw.md
C:\Users\Admin\OneDrive\Desktop\C_programming\cmr6omtc700000ajfal7mb7mb.md
C:\Users\Admin\OneDrive\Desktop\C_programming\cmrj7hog5000009klcvu5e0o8.md